<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @section.subject.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @section.teacher.first_and_last_name %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @section.classroom.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @section.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @section.end_time %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
